@import "tailwindcss";

body {
    font-family: sans-serif;
    padding: 1rem;
    background: #fff;
}

hr {
    border: 0;
    margin: 1.25rem 0;
    border-top: 1px solid #888;
    height: 0;
    padding: 0;
    background: none;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

fieldset {
    margin-bottom: 1rem;
    position: relative;
    border: 2px solid #999;
    background-color: #eee;
}

/* Default to a disabled appearance */
fieldset.input-item-inputs {
    color: #999;
}

form fieldset:last-child {
    /* dispplay below the flex row items*/
    border: none;
    flex: 0 0 100%;
    background-color: #fff;
    color: #000;
}

label {
    display: flex;
    margin: 0.3rem 0;
    gap: 0.5rem;
    align-items: center;
}

label span {
    min-width: 2rem;
}

label span:first-child {
    text-align: right;
}

button {
    padding: 1rem;
    border: 2px solid #14a;
    border-radius: 8px;
    background-color: #36c;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

button:active {
    background-color: #69f;
}

input {
    border: 1px solid #333;
    border-radius: 2px;
    padding: 2px;
}

input:disabled {
    border-color: #999;
}

input.invalid {
    border: 1px solid red;
    color: red;
}

input[type="number"] {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.125rem;
    width: 4rem;
}

.fieldset-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 4rem;
    margin-bottom: 1rem;
}

#select-output-item {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1.25rem;
    background: #fff;
    border-radius: 8px;
    border: 2px solid #14a;
}

label.item-input-checkbox {
    position: absolute;
    top: -0.45rem;
    right: 0;
    padding: 0.5rem;
}

/* css selector for checkbox when checked */
fieldset:has(label.item-input-checkbox input:checked) {
    border: 2px solid #88f;
    color: #000;
}

#kResult,
#compresionRatioResult {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 0.125rem 0.25rem;
    border-radius: 4px;
    color: #33f;
    transition: color 0.4s ease-out, background 0.4s ease-out;
}

#compresionRatioResult {
    color: #333;
    background: #fff;
}

#compresionRatioResult.neutral {
    color: #333;
}

#compresionRatioResult.bg-neutral {
    background: #333;
}

#compresionRatioResult.good {
    color: #3a3;
}

#compresionRatioResult.bg-good {
    background: #3a3;
}

#compresionRatioResult.bad {
    color: #e66;
}

#compresionRatioResult.bg-bad {
    background: #e66;
}

.variable-label {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.fw-bold {
    font-weight: bold;
}

/* Labels the output value of the calculation for number of inventory slots used by an input item. */
.slots-used-input-label {
    margin-left: 2.5rem;
}

.slots-used-input-label span {
    width: 4rem;
    color: #080;
    border-bottom: 1px solid #888;
    text-align: left !important;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 2px;
}